.room-btn {
  border: none;
  border-radius: 0;
  color: #ffffff;
  outline: none;
  background-color: #974309;
}

.room-btn:hover {
  background-color: #b18768;
}

.navbar {
  padding: 0;
  height: 60px;
}

.nav-item .nav-link:hover {
  background-color: #BCA265;
}

.nav-link {
  padding-top: 18px;
  height: 60px;
  cursor: pointer;
}

li.nav-item a {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

li.nav-item a:hover {

}

div.container-fluid {
  background-color: #984911;
}
