<div class="container mt-4 mx-0">
  <div class="row">
    <div class="col-12">
      <div class="card chat-app">
        <div class="row">
          <div class="chat-side col-md-3 col-lg-3">
            <div class="people-list">
              <ul class="chat-list mt-2 mb-0">
                <div *ngIf="room.usersInRoom && room.usersInRoom.length > 0; else noUsers">
                  <li *ngFor="let user of room.usersInRoom" class="clearfix">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                    <div class="about">
                      <div class="name">{{ user.name }}</div>
                      <div class="status"><i class="fa fa-circle online"></i> Online</div>
                    </div>
                  </li>
                </div>
                <ng-template #noUsers>
                  <li>
                    <div class="about">
                      There are currently no active users in this room.
                    </div>
                  </li>
                </ng-template>
              </ul>
            </div>
          </div>
          <div class="col-md-9 col-lg-9">
            <div class="chat">
              <div class="chat-header clearfix">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="chat-about">
                      <h6 class="mb-2 pb-2">{{room.name}}</h6>
                      <small *ngIf="lastMessageSent !== ''" class="text-muted">Last message: {{lastMessageSent}} ago</small>
                    </div>
                  </div>
                </div>
              </div>
              <div #chatHistory class="chat-history">
                <ul *ngIf="messages.length > 0; else noMessages" class="m-b-0">
                  <li [ngClass]="{'user-message' : message.author.id === userId!}" *ngFor="let message of messages"
                      class="clearfix">
                    <div class="message-data">
                      <span class="message-data-time text-muted">{{message.author.name}}
                        : {{ message.createdAtUnixTime |  date:'dd/MM/yyyy HH:mm'}}</span>
                    </div>
                    <div
                      [ngClass]="{'my-message' : message.author.id === userId!, 'other-message' : message.author.id !== userId!}"
                      class="message ">{{message.text}}</div>
                  </li>
                </ul>
                <ng-template #noMessages>
                  <ul class="m-b-0">
                    <li class="clearfix">
                      Chat is empty.
                    </li>
                  </ul>
                </ng-template>
              </div>
              <div class="chat-message clearfix">
                <div class="input-group mb-0">
                  <div>
                    <span class="input-group-text">
                      <fa-icon class="nav-icons pr-1" [icon]="faMessage"></fa-icon>
                    </span>
                  </div>
                  <input #chatInput (keyup.enter)="sendMessage()" type="text" class="form-control"
                         placeholder="Enter text here..." autocomplete="false">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
