<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="card chat-app">
        <div class="people-list">
          <ul class="chat-list mt-2 mb-0">
            <div *ngIf="room.usersInRoom && room.usersInRoom.length > 0; else noUsers">
              <li *ngFor="let user of room.usersInRoom" class="clearfix">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                <div class="about">
                  <div class="name">{{ user.name }}</div>
                  <div class="status"> <i class="fa fa-circle online"></i> Online </div>
                </div>
              </li>
            </div>
            <ng-template #noUsers>
              <li>
                <div class="about">
                  There are currently no active users in this room.
                </div>
              </li>
            </ng-template>
          </ul>
        </div>
        <div class="chat">
          <div class="chat-header clearfix">
            <div class="row">
              <div class="col-lg-6">
                <div class="chat-about">
                  <h6 class="m-b-0">{{room.name}}</h6>
                  <small>Last message: 2 hours ago</small>
                </div>
              </div>
            </div>
          </div>
          <div #chatHistory class="chat-history">
            <ul *ngIf="messages.length > 0; else noMessages" class="m-b-0">
              <li *ngFor="let message of messages" class="clearfix">
                <div class="message-data">
                  <span class="message-data-time">{{message.author}} : {{ message.createdAtUnixTime |  date:'dd/MM/yyyy HH:mm'}}</span>
                </div>
                <div class="message my-message">{{message.text}}</div>
              </li>
            </ul>
            <ng-template #noMessages>
              <ul class="m-b-0">
                <li class="clearfix">
                  Chat is empty.
                </li>
              </ul>
            </ng-template>
          </div>
          <div class="chat-message clearfix">
            <div class="input-group mb-0">
              <div>
                <span class="input-group-text">
                  <fa-icon class="nav-icons pr-1" [icon]="faMessage"></fa-icon>
                </span>
              </div>
              <input #chatInput (keyup.enter)="sendMessage()" type="text" class="form-control"
                     placeholder="Enter text here..." autocomplete="false">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
